@use "../abstracts" as *;

.main-layout-container {
  width: calc(100% - 32px);
  margin: 0 auto;
  @include tablet {
    width: calc(640px - 32px);
  }

  .header {
    padding: 2rem 0;
    text-align: center;
    font-size: $text-xs;
    letter-spacing: 1.4px;
    @include tablet {
      font-size: $text-xl;
    }
  }
}
